
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 20px 50px 20px 50px;
}

.logo{
    flex: 1;
    font-size: 24px;
}

.menu ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    color:  #E5E7EB;
    font-size: 18px;
}

a:link{
    color: white; 
    text-decoration: none;
}

.container{
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 20px 50px 50px 50px;
    
}

.hero-text{
    flex-grow: 1;
    color:  #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.btn-order {
    margin-top: 40px;
    padding: 10px;
    border-radius: 15px;
    background-color: #3882f6;
    color: white;
}

.hero-img{
    flex-grow: 1;

}

.hero-img img{
width: 500px;
height: 500px;
object-fit: contain;
border-radius: 63%;
}